*{
  box-sizing:border-box;
}
body{
  background-color:#f5f6ff;
}
.container{
  padding: 10px;
  max-width: fit-content;
  margin: 50px auto;
  
}
.btn{
  border: none;
  padding:7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;

 
}
.btn-add{
  background-color: blanchedalmond;
  color: black;
}

.addContainer{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
   top: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;

}
.addContainer form{
  width: 400px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2) ;
  border-radius: 5px;

}

.addContainer form input{
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
margin-bottom: 10px;

}

.addContainer form label{
  font-size: 18px;
}
.addContainer form button{
  background-color: royalblue;
  color: white;
  font-weight:500 ;
  margin-top: 20px;
}

.addContainer form .close-btn{

margin-left: auto;
font-size: 18px;
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
border: 1px solid black;
cursor: pointer;
}
 

.tableContainer{
  margin-top: 50px;
  width: fit-content;
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgb(53, 46, 48) ;
  border-radius: 10px;

}

.tableContainer table thead tr{
  background-color: rgb(163, 177, 187);
  
}

.tableContainer table thead tr th,.tableContainer table tbody tr td
  {
  min-width: 300px;
padding: 7px;
text-align: center;

}

.tableContainer table tbody tr td{
  border-bottom: 1px solid rgb(53, 46, 48);
}


.btn-edit,.btn-delete{
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px 15px;
}
.btn-edit{
  background-color: yellow;
}
.btn-delete{
  background-color: red;
}